<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.entersekt.fido2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".appdata.AwsomeApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_main"
        android:label="AWSomeWifi"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.InformationActivity" />
        <activity android:name=".activity_host.HostActivity" />
        <activity android:name=".ui.ResetActivity" />
        <activity android:name=".ui.LogActivity" />
        <activity android:name=".ui.ReviseActivity" />
        <activity android:name=".ui.StartActivity" />
        <activity android:name=".ui.CreateActivity"/>
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <activity android:name=".ui.AuthnActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="aws.eazysecure-auth.com" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SignupActivity" />
        <activity android:name=".ui.ResistActivity" >
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="aws.eazysecure-auth.com" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_admin.AdminActivity" />
        <activity android:name=".ui.SecurityActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.QrActivity"/>
    </application>


</manifest>